<toolbar>
  <button class="btn btn-primary" (click)="save()" [disabled]="saving">
    <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
    <i class="fas fa-save" [hidden]="saving"></i> {{ 'label.ALL.Save' | translate}}</button>
</toolbar>
<h4>{{ 'label.DBRT14.programName' | translate}}</h4>
<div class="row">
  <div class="col">
    <app-card header="{{ 'label.DBRT14.detail' | translate}}">
      <div class="card-content">
        <div class="col">
          <div class="col">
            <form #dbrt14 [formGroup]="dbrt14Form">
              <div class="form-row">
                <div class="form-group col-md-4 col-sm-6">
                  <textbox formControlName="projectCode" class="text-center">
                    {{ 'label.DBRT14.projectCode' | translate}}
                  </textbox>
                </div>
                <div class="form-group col-md-4 col-sm-6">
                  <textbox formControlName="projectNameTha">
                    {{ 'label.DBRT14.projectNameTha' | translate}}
                  </textbox>
                </div>
                <div class="form-group col-md-4 col-sm-6">
                  <textbox formControlName="projectNameEng">
                    {{ 'label.DBRT14.projectNameEng' | translate}}
                  </textbox>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4 col-sm-6">
                  <textbox formControlName="erpCode">
                    {{ 'label.DBRT14.erpCode' | translate}}
                  </textbox>
                </div>
                <div class="form-group col-md-8 col-sm-6">
                  <areabox formControlName="projectDescription">
                    {{ 'label.DBRT14.projectDescription' | translate}}
                  </areabox>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4 col-sm-6">
                  <select-input [items]="master.studentTypeCode" placeholder="{{ 'label.ALL.PleaseSelect' | translate}}"
                    formControlName="studentTypeCode">
                    {{ 'label.DBRT14.studentType' | translate}}
                  </select-input>
                </div>
                <div class="form-group col-md-4 col-sm-6">
                  <select-input [items]="master.educationTypeCode"
                    placeholder="{{ 'label.ALL.PleaseSelect' | translate}}" formControlName="educationTypeCode">
                    {{ 'label.DBRT14.educationType' | translate}}
                  </select-input>
                </div>
                <div class="form-group col-md-4 col-sm-6">
                  <select-input [items]="master.facCode" placeholder="{{ 'label.ALL.PleaseSelect' | translate}}"
                    formControlName="facCode">
                    {{ 'label.DBRT14.fac' | translate}}
                  </select-input>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4 col-sm-6">
                  <textbox formControlName="erpProject">
                    {{ 'label.DBRT14.erpProject' | translate}}
                  </textbox>
                </div>
                <div class="form-group col-md-4 col-sm-6">
                  <textbox formControlName="erpActivity">
                    {{ 'label.DBRT14.erpActivity' | translate}}
                  </textbox>
                </div>
                <div class="form-group col-md-4 col-sm-6">
                  <textbox formControlName="erpProduct">
                    {{ 'label.DBRT14.erpProduct' | translate}}
                  </textbox>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4 col-sm-6">
                  <checkbox formControlName="bypassRegister">
                    {{ 'label.DBRT14.bypassRegister' | translate}}</checkbox>
                </div>
                <div class="form-group col-md-4 col-sm-6">
                  <checkbox formControlName="active">
                    {{ 'label.DBRT14.active' | translate}}</checkbox>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>