<h4>{{ 'label.DBRT07.programName' | translate}}</h4>
<div class="row">
   <div class="col">
     <app-card>
        <div class="card-content">
            <div class="row">
                <div class="col-6">
                    <app-search  (search)="enter($event)" placeholder="{{ 'label.DBRT07.searchPlaceholder' | translate}}"></app-search>
                </div>
                <div class="col-6 text-right">
                    <button class="btn btn-primary" (click)="add()"><i class="fas fa-plus-circle"></i> 
                      {{ 'label.ALL.Add' | translate}}
                    </button>
                 </div>
            </div>
            <br>
            <div class="row">
               <div class="col">
                  <app-table [rows]="prename" [page]="page" (onTableEvent)="search()">
                      <ngx-datatable-column prop="preNameTha" width="200">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                          <label class="datatable-header-cell-wrapper" (click)="sort()">
                            {{ 'label.DBRT07.preNameTha' | translate}}
                          </label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <a [routerLink]="['detail']" [state]="{code: row.preNameId}">{{row.preNameTha}}</a>
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column prop="preNameCodeMua" width="100" [cellClass]="'text-center'">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                          <label class="datatable-header-cell-wrapper" (click)="sort()">
                            {{ 'label.DBRT07.preNameCodeMua' | translate}}
                          </label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                           {{row.preNameCodeMua}}
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column prop="preNameEng" width="200">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                          <label class="datatable-header-cell-wrapper" (click)="sort()">
                            {{ 'label.DBRT07.preNameEng' | translate}}
                          </label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                           {{row.preNameEng}}
                        </ng-template>
                      </ngx-datatable-column>

                        <ngx-datatable-column prop="preNameShortTha"  width="100">
                          <ng-template let-sort="sortFn" ngx-datatable-header-template>
                              <label class="datatable-header-cell-wrapper" (click)="sort()">
                                {{ 'label.DBRT07.preNameShortTha' | translate}}
                              </label>
                          </ng-template>
                          <ng-template let-row="row" ngx-datatable-cell-template>
                              {{row.preNameShortTha}}
                          </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column prop="preNameShortEng"  width="100">
                          <ng-template let-sort="sortFn" ngx-datatable-header-template>
                              <label class="datatable-header-cell-wrapper"
                                  (click)="sort()">
                                  {{ 'label.DBRT07.preNameShortEng' | translate}}
                                </label>
                          </ng-template>
                          <ng-template let-row="row" ngx-datatable-cell-template>
                              {{row.preNameShortEng}}
                          </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column prop="preNameType" width="100">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                            <label class="datatable-header-cell-wrapper"
                                (click)="sort()">{{ 'label.DBRT07.preNameType' | translate}}</label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.preNameType}}
                        </ng-template>
                    </ngx-datatable-column>
                    
                      <ngx-datatable-column prop="active" width="100" [cellClass]="'text-center'">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                          <label class="datatable-header-cell-wrapper" (click)="sort()">
                            {{ 'label.DBRT07.active' | translate}}
                          </label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <i *ngIf="row.active" class="fas fa-check"></i>
                        </ng-template>
                      </ngx-datatable-column>
            
                      <ngx-datatable-column [cellClass]="'text-center'" [sortable]="false" width="100">
                        <ng-template ngx-datatable-header-template>
                          <label class="datatable-header-cell-wrapper">
                            {{ 'label.ALL.Delete' | translate}}
                          </label>
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          <button (click)="remove(row.preNameId,row.rowVersion)" class="btn btn-outline-danger btn-sm">
                            <i class="far fa-trash-alt"></i>
                          </button>
                        </ng-template>
                      </ngx-datatable-column>
                    </app-table>
               </div>
            </div>
        </div>
     </app-card>
   </div>
</div>