<h4>{{ 'label.DBRT12.programName' | translate}}</h4>
  <div class="row">
    <div class="col">
      <app-card>
        <div class="card-content">
          <div class="row">
            <div class="col-6">
              <app-search (search)="enter($event)" placeholder="{{ 'label.DBRT12.searchPlaceholder' | translate}}"></app-search>
            </div>
            <div class="col-6 text-right">
              <button class="btn btn-primary" (click)="add()"><i class="fas fa-plus-circle"></i> {{ 'label.ALL.Add' | translate}}</button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <app-table [rows]="program" [page]="page" (onTableEvent)="search()">
                <ngx-datatable-column prop="programCode" width="100" [cellClass]="'text-center'">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT12.programCode' | translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <a [routerLink]="['detail']" [state]="{code: row.programCode}">{{row.programCode}}</a>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="programCodeMua" width="200" [cellClass]="'text-center'">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT12.programCodeMua' | translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.programCodeMua}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="programNameTha" width="200">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT12.programNameTha' | translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.programNameTha}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="programNameEng" width="200">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT12.programNameEng' | translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.programNameEng}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="programShortNameTha" width="100">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT12.programShortNameTha' | translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.programShortNameTha}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="programShortNameEng" width="100">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT12.programShortNameEng' | translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.programShortNameEng}}
                  </ng-template>
                </ngx-datatable-column>
                <!-- <ngx-datatable-column prop="facCode" [cellClass]="'text-left'" width="150">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT12.facCode' | translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.facCode}}
                  </ng-template>
                </ngx-datatable-column> -->
                <ngx-datatable-column prop="branch" width="50" [cellClass]="'text-center'">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT12.branch' | translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <i *ngIf="row.branch" class="fas fa-check"></i>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="active" width="50" [cellClass]="'text-center'">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT12.active' | translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <i *ngIf="row.active" class="fas fa-check"></i>
                  </ng-template>
                </ngx-datatable-column>
  
                <ngx-datatable-column [cellClass]="'text-center'" [sortable]="false" width="50">
                  <ng-template ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper">{{ 'label.ALL.Delete' | translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <button (click)="remove(row.programCode,row.rowVersion)" class="btn btn-outline-danger btn-sm">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
              </app-table>
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>