<h4>{{ 'label.DBRT09.programName' | translate}}</h4>
  <div class="row">
    <div class="col">
      <app-card>
        <div class="card-content">
          <div class="row">
            <div class="col-6">
              <app-search (search)="enter($event)"placeholder="{{ 'label.DBRT09.searchPlaceholder' | translate}}"></app-search>
            </div>
            <div class="col-6 text-right">
              <button class="btn btn-primary" (click)="add()"><i class="fas fa-plus-circle"></i> {{ 'label.DBRT09.add' | translate}}</button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <app-table [rows]="educationtype" [page]="page" (onTableEvent)="search()">
                <ngx-datatable-column prop="educationTypeLevel" width="100" [cellClass]="'text-center'">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT09.educationTypeLevel' | translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <a [routerLink]="['detail']" [state]="{code: row.educationTypeLevel}">{{row.educationTypeLevel}}</a>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="educationTypeCodeMua" width="100" [cellClass]="'text-center'">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT09.educationTypeCodeMua' | translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.educationTypeCodeMua}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="educationTypeLevelNameTha" width="200">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT09.educationTypeLevelNameTha' | translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.educationTypeLevelNameTha}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="educationTypeLevelNameEng" width="200">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT09.educationTypeLevelNameEng' | translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.educationTypeLevelNameEng}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="educationLevelShortNameTha"  width="100">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT09.educationLevelShortNameTha' | translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.educationLevelShortNameTha}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="educationLevelShortNameEng"  width="100">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT09.educationLevelShortNameEng' | translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.educationLevelShortNameEng}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="groupLevel" width="100">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT09.groupLevel' | translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.groupLevel}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="active" width="50" [cellClass]="'text-center'">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT09.active' | translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <i *ngIf="row.active" class="fas fa-check"></i>
                  </ng-template>
                </ngx-datatable-column>
  
                <ngx-datatable-column [cellClass]="'text-center'" [sortable]="false" width="50">
                  <ng-template ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper">{{ 'label.DBRT09.delete' | translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <button (click)="remove(row.educationTypeLevel,row.rowVersion)" class="btn btn-outline-danger btn-sm">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
              </app-table>
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>