<toolbar>
  <button class="btn btn-primary" (click)="save()" [disabled]="saving">
    <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
    <i class="fas fa-save" [hidden]="saving"></i> {{ 'label.ALL.Save' | translate}}</button>
</toolbar>
<h4>{{ 'label.DBRT16.programName' | translate}}</h4>
<div class="row">
  <div class="col">
    <app-card header="{{ 'label.DBRT16.detail' | translate}}">
      <div class="card-content">
        <div class="col">
          <div class="col">
            <form [formGroup]="dbrt16Form" [class.validated]="submited">
              <div class="form-row">
                <div class="form-group col-md-3 col-sm-6">
                  <textbox formControlName="locationCode" class="text-center">
                    {{ 'label.DBRT16.locationCode' | translate}}
                  </textbox>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="locationNameTha">
                    {{ 'label.DBRT16.locationNameTha' | translate}}
                  </textbox>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="locationNameEng">
                    {{ 'label.DBRT16.locationNameEng' | translate}}
                  </textbox>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-5 col-sm-6">
                  <checkbox formControlName="active">
                    {{ 'label.DBRT16.active' | translate}}
                  </checkbox>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>