<toolbar>
  <button class="btn btn-primary" (click)="util.focusInvalid(cat); save()" [disabled]="saving">
    <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
    <i class="fas fa-save" [hidden]="saving"></i> {{ 'label.ALL.Save' | translate}}</button>
</toolbar>
<h4>{{ 'label.DBRT20.programName' | translate}}</h4>
<div class="row">
  <div class="col">
    <app-card header="{{ 'label.DBRT20.detail' | translate}}">
      <div class="card-content">
        <div class="col">
          <div class="col">
            <form #cat [formGroup]="dbrt20Form">
              <div class="form-row">
                <div class="form-group col-md-3 col-sm-6">
                  <textbox formControlName="departmentCode" class="text-center">{{ 'label.DBRT20.departmentCode' | translate}}
                  </textbox>
                </div>
                <div class="form-group col-md-3 col-sm-6">
                  <textbox formControlName="departmentCodeMua" class="text-center">{{ 'label.DBRT20.departmentCodeMua' | translate}}
                  </textbox>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="departmentNameTha">{{ 'label.DBRT20.departmentNameTha' | translate}}
                  </textbox>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="departmentNameEng"> {{ 'label.DBRT20.departmentNameEng' | translate}}
                  </textbox>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="departmentShortNameTha">{{ 'label.DBRT20.departmentShortNameTha' | translate}}
                  </textbox>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="departmentShortNameEng"> {{ 'label.DBRT20.departmentShortNameEng' | translate}}
                  </textbox>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  <checkbox formControlName="active">{{ 'label.DBRT20.active' | translate}}
                  </checkbox>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>