<toolbar>
    <button class="btn btn-primary" (click)="save()" [disabled]="disBtnSave">
        <i class="fas fa-cog fa-spin" [hidden]="!disBtnSave"></i>
        <i class="fas fa-save" [hidden]="disBtnSave"></i> {{ 'label.ALL.Save' | translate}}</button>
</toolbar>

<h4>{{ 'label.DBRT15.programName' | translate}}</h4>

<div class="row">
    <div class="col">
        <app-card header="{{ 'label.DBRT15.detail' | translate}}">
            <div class="card-content">
                <div class="col">
                    <div class="col">
                        <form [formGroup]="dbrt15Form" [class.validated]="submited">

                            <div class="form-row">
                                <div class="form-group col-md-4 col-sm-6">
                                    <select-input [items]="master.degree"
                                        placeholder="{{ 'label.ALL.PleaseSelect' | translate}}"
                                        formControlName="degreeId">{{ 'label.DBRT15.degreeId' | translate}}
                                    </select-input>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 col-sm-6">
                                    <textbox formControlName="subDegreeNameTha">
                                        {{ 'label.DBRT15.subDegreeNameTha' | translate}}
                                    </textbox>
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <textbox formControlName="subDegreeNameEng">
                                        {{ 'label.DBRT15.subDegreeNameEng' | translate}}
                                    </textbox>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 col-sm-6">
                                    <textbox formControlName="subDegreeShortNameTha">
                                        {{ 'label.DBRT15.subDegreeShortNameTha' | translate}}
                                    </textbox>
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <textbox formControlName="subDegreeShortNameEng">
                                        {{ 'label.DBRT15.subDegreeShortNameEng' | translate}}
                                    </textbox>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 col-sm-6">
                                    <checkbox formControlName="active"> {{ 'label.DBRT15.active' | translate}}
                                    </checkbox>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-card header="{{ 'label.DBRT15.detail2' | translate}}">
            <div class="card-menu">
                <div class="col">
                    <div class="text-right">
                        <button class="btn btn-primary" (click)="add();">
                            <i class="fas fa-plus-circle"></i>
                            {{ 'label.ALL.Add' | translate}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <app-table-client #GroupTable [rows]="detail.dbDegreeSubEduGroup" [summaryRow]="true">
                    <ngx-datatable-column prop="groupLevel" [cellClass]="'text-center'" width="50">
                        <ng-template ngx-datatable-header-template>
                            <label class="datatable-header-cell-wrapper"
                                (click)="sort()">{{ 'label.DBRT15.groupLevel' | translate}}</label>
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <div [formGroup]="row.form">
                                <select-input [items]="detail.dbDegreeSubEduGroup[rowIndex].subDegreeDDL"
                                    placeholder="{{ 'label.ALL.PleaseSelect' | translate}}" [hasLabel]="false"
                                    [small]="true" formControlName="groupLevel">
                                </select-input>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="active" width="50" [cellClass]="'text-center'">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                            <label class="datatable-header-cell-wrapper"
                                (click)="sort()">{{ 'label.DBRT15.active' | translate}}</label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div [formGroup]="row.form">
                                <checkbox formControlName="active"></checkbox>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [cellClass]="'text-center'" [sortable]="false" width="50">
                        <ng-template ngx-datatable-header-template>
                            <label class="datatable-header-cell-wrapper">{{ 'label.ALL.Delete' | translate}}</label>
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <button class="btn btn-outline-danger btn-sm" (click)="remove(row)">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </app-table-client>
            </div>
        </app-card>
    </div>
</div>